.icon-tips {
    position: absolute; 
    width: 25px; 
    height: 25px;
    z-index: 9999;
}

.icon-tips .icon {
    max-width: 25px;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}