.toast {
    flex-basis: 350px;
    max-width: 350px;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.75rem;
    opacity: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    border-radius: 0.25rem;
}

.show {
    flex-basis: 350px;
    max-width: 350px;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.75rem;
    opacity: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    border-radius: 0.25rem;
}

.fade {
    transition: opacity 0.15s linear 0s;
}

.toast-header {
    display: flex;
    align-items: center;
    color: rgb(108, 117, 125);
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.toast-body {
    padding: 0.75rem;
}

.mr-auto {
    margin-right: auto !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.rounded {
    border-radius: 0.25rem !important;
}