.bcz-helper-popup-container {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.25rem;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  font-family: ui-sans-serif, system-ui, sans-serif;
  user-select: none;
  line-height: 1em;
}

.bcz-helper-popup-content {
  background-color: white;
  color: #1f2937;
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: max-content;
  height: min-content;
  padding: 0.5rem 1rem;
  margin: auto 0.5rem 0 0;
  transition: opacity 300ms;
}

.bcz-helper-toggle-button {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
  border: none;
  background-color: #288cd7;
}

.bcz-helper-toggle-button:hover {
  background-color: #1e6aa3;
}

.bcz-helper-button-icon {
  padding: 4px;
}

.bcz-helper-opacity-100 {
  opacity: 1;
}

.bcz-helper-opacity-0 {
  opacity: 0;
}

.bcz-helper-selection-icon {
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bcz-helper-fadeIn 0.2s ease-in-out;
}

.bcz-helper-selection-icon-img {
  width: 1.2rem;
  height: 1.2rem;
}

@keyframes bcz-helper-fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bcz-helper-popover-content {
  animation: bcz-helper-fadeIn 0.2s ease-in-out;
  padding: '0';
  background-color: transparent;
  border: 'none';
  box-shadow: 'none';
  z-index: 10000;
  outline: none;
}

.bcz-helper-popover-arrow {
  fill: white;
}