.searchAccent {
    font-size: small; 
    color: #606266;
}

.searchWord {
    font-weight: bolder;
}

.searchMeans {
    color: #6a6d71;
    width: 35em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    cursor: pointer;
}

.section {
    max-width: 450px;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-title {
    font-weight: bolder;
    margin-bottom: 8px;
}

.popup-body {
    min-width: 400px; 
    scroll-behavior: auto; 
    margin-top: 20px;
}

.word {
    font-size:x-large;
    font-weight: bolder;
}

.star {
    cursor: pointer;
    float: right; 
    margin-right: 10px;
}

.volume-up {
    cursor: pointer;
    font-size: large;
}

.means-table {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.refresh-icon {
    float: right;
    cursor: pointer;
    width: 20px;
    margin-right: 15px;
}

.p-words {
    word-wrap: break-word;  
    word-break: break-all;
}

.word-row {
    cursor: pointer;
    font-weight: bolder;
    color: #212529;
}

.word-row-hidden {
    cursor: pointer;
    font-weight: bolder;
    color: #6a6d71;
    background-color: #6a6d71;
}